include LICENSE
include MANIFEST.in
include *.txt
include *.yml

graft adabbkb
graft doc

global-exclude doc/_build/**
global-exclude __pycache__
global-exclude benchmark_functions/**
global-exclude test_cases/**
global-exclude notebooks/**
global-exclude notes/**
global-exclude papers_experiment/**